@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

/*This rule is to set up the background image to make it responsive and centered */
html {
  background: url(/assets/images/combination_lock/background4.jpg) center;
  background-repeat:no-repeat;
  background-position: fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
 }

h2 {
  font-size: 0.5em;
}

h3 {
  color: black;
}
/*This rule sets certain common parameters for the body*/
body {

  font-family: 'Saira Stencil One', cursive, sans-serif;
  text-align: center;
  color: black;
  font-size: 1.75em;
  }

/*This rule is targetted by game1.js once the abort sequence in the game is executed*/
.abort-message {
  margin: 50px auto;
  padding: 20px;
  text-align: center;
  font-weight: 300;
  color: white;
  position: absolute;

}

.start-over-button{
  margin-top:10%;
  height: 6em;
  width: 6em;
  opacity: 0.75;
  padding: 0;
}

/* This is the outline div that holds the controls + combination barrels*/
  .combination-outline-controls {
  padding-top: 0.2em;
  position: fixed;
  max-height: auto;
  min-width: 55%;
  min-height: 40%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -60%);
  border: 3px solid black;
  display: block;
  background-color: darkgray;
  }
  /* This is the inner div that holds the combination barrels*/

 .combination-outline-game {
 text-align: center;
 min-width: 85%;
 min-height: 20%;
 padding: 0;
 margin: 8%;
 display: inline-flex;
 background-color: darkgray;
 border: 3px solid silver;
 border-radius: 5px;
 }

.barrel {
  border: 2px solid silver;
  border-radius: 15%;
  text-align: center;
  align-self: center;

}

.plus-minus-symbol {
  display: inline-flex;
  text-align: center;
  border-bottom: 1px solid red;
  border-top: 1px solid red;
}

.spy-badges {
  text-align: center;
}

.spy-image {
  width: 1.4em;
  height: auto;
  text-align: center;
  opacity: 0.3;
  animation: spyFade ease 3s;
  -webkit-animation: spyFade ease 3s;
   -moz-animation: spyFade ease 3s;
}

.instructions {
font-weight: 100;
position: fixed;
text-align: center;
color: white;
font-size: 0.75em;
animation: textFade ease 15s;
-webkit-animation: textFade ease 15s;
 -moz-animation: textFade ease 15s;

}

.time-trys-left {
  opacity: 0.3;
}

.time-trys-left span {
  margin-left: 1%;
  padding: 0;
}

#start {
  background: green;
  width: auto;
}

#try {
  font-size: 1em;
  color:black;
  width: auto;
  opacity: 0.25;
}




/*----- Keyframe calls -*/
@keyframes textFade {
  0% {opacity:0;}
  100% {opacity:1;}
  }


@keyframes spyFade {
  0% {opacity:0.3;}
  100% {opacity:1;}
}

/*------------------------------- All Media Queries --------------------------*/
/*- < 249px -*/
@media only screen and (max-width: 249px) {
body {
  font-size: 0.5em;
}
}

/*- 250px - 499px -*/
@media only screen and (min-width: 250px) and (max-width: 499px) {
  body {
    font-size: 1em;
  }
}

/*- 500px - 767px -*/
@media only screen and (min-width: 500px) and (max-width: 767px) {


}

/*- 767px - 991px -*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

}

/*- 992px - 1023px -*/
@media only screen and (min-width: 992px) and (max-width: 1023px) {
}

/*- 1024px - 1200px -*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
}

/*- 1201px > -*/
@media only screen and (min-width: 1201px) {
.combination-outline-game {
  width: 40%;
}
.combination-outline-controls {
  width: 40%;
}
.start-over-button{
  margin-top:1%;
}
}
