@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

body {
  background-color: darkgray;
  font-family: 'Saira Stencil One', cursive, sans-serif;
  text-align: center;
  color: #fafafa;
}
/* This rule is for the "Welcome to Text" */
.main-page-text-welcome {
  margin: 2em 0 1em 0;
}
/* This rule is for the "Spy Image" */
.spy-image {
  width: 10em;
  height: auto;
}
/* This rule is for the Spy Academy Text" */
.main-page-text-academy {
  font-size: 2em;
  color: #2B303A;
}
/* This rule is for the Big red button div + its animation */
.main-button {
  margin: 0 0 0.1em 0;
  padding: 0.25em;
  background-color:black;
  height: 10em;
  width: 10em;
  position:relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  opacity: 0.9;
}
/* To flash the big red button once an age is chosen.*/
.main-button-active {
  animation: big-red-button 500ms infinite;
  opacity: 0.8;
}
/* Disable the big red button until the user enters their age.*/
.button-not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}
/* This rule is for the "Enter your Age Text" */
.main-page-text-age {
  margin:0em 0 0em 0;
  animation: slider-age-chooser 9s infinite;
  padding: 0.5em 0 0.5em 0;
}
/*This rule is for the slider*/
.age {
    font-size: 2em;
    color:red;
    text-align: center;
}
/*----------------------------- Keyframe calls ---------------------------*/

/* For the big-red-button on the front page */
@keyframes slider-age-chooser {
  0%   {background: darkgray;}
  50%  {background: #2B303A;}
  100% {background: darkgray;}
}
/* For the div/outline of the big red button */
@keyframes big-red-button {
  0%   {background: white;}
  50%  {background: red;}
  100% {background: white;}
}
/*------------------------------- All Media Queries --------------------------*/

/*- 250px - 499px -*/
@media only screen and (min-width: 250px) and (max-width: 499px) {
}

/*- 500px - 767px -*/
@media only screen and (min-width: 500px) and (max-width: 767px) {
   .main-page-text-welcome {
     margin: 3em 0 3em 0;
  }
}

/*- 767px - 991px -*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

   .main-page-text-welcome {
     margin: 5em 0 5em 0;
  }
   .main-page-text-mission {
     margin: 3em 0 3em 0;
  }
   .main-page-text-age {
     margin:2em 0 2em 0;
  }
}

/*- 992px - 1023px -*/
@media only screen and (min-width: 992px) and (max-width: 1023px) {

  .main-page-text-welcome {
    margin: 8em 0 8em 0;
  }
  .main-page-text-mission {
    margin: 4em 0 4em 0;
  }
}

/*- 1024px - 1200px -*/
@media only screen and (min-width: 1024px) and (max-width: 1200px) {

  .main-page-text-welcome {
    margin: 10em 0 10em 0;
  }
  .main-page-text-mission {
  margin: 5em 0 5em 0;
  }
}

/*- 1201px     >  -*/
@media only screen and (min-width: 1201px) {

  .main-page-text-welcome {
    margin: 4em 0 4em 0;
  }
}
/* ----------------- End of File -------------------*/
