
body {
  background-image: url("/assets/images/main-background.jpg");
  background-color: #336EFF;
  width: calc(100vw - 100px);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.lock-background {
  background-size: 100%;
  width: 280px;
  height: 200px;
  border-radius: 5%;
  border: 3px solid grey;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lock-barrels {
  width: 60px;
  height: 25px;
  border: 2px solid blue;
  display:inline-block;
  padding: 0px;
  margin: 0px;
}

.increment-sign {
  position: absolute;
  top: 2.5%;
  left: 9%;

}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
/* Styles */


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */


/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}
